body {
  background-color: black;
  background-image: url('~/assets/images/footer_image.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 4vw;
  min-height: 100vh;
}

#alertContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;
}

#alertContainer .alert {
  box-shadow: 0 0 8px rgba(0,0,0,0.33);
}

#gameBoard {
  background: black;
  min-height: 300px;
}

.musicButton {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: normal;
  border-radius: 100%;
}

#musicPopoverButton:hover + #musicPopover, #musicPopover:hover {
  opacity: 1;
  pointer-events: unset;
  z-index: 20;
}

#musicPopover {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.33);
  padding: 10px;
  border-radius: 3px;
  min-width: 350px;
  width: 100%;
  max-width: 450px;
  position: absolute;
  top: 55px;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

#mainContainer {
  max-width: 1400px;
  min-width: 1200px;
  margin: 0 auto;
}

.posRel {
  position: relative;
}

.tile {
  position: relative;
  margin-top: -0.45%;;
  margin-bottom: -0.45%;
}

.tile_offset {
  margin-left: 2.5%;
}

.playerIcon {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(46, 148, 231);
  border-radius: 50%;
  z-index: 5;
  font-size: 1.75rem;
}

.pieceValue {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  z-index: 5;
}


.playerIcon.moved, .pieceValue.moved {
  opacity: 0.5;
}

.cursorPointer {
  cursor: pointer;
}

.cursorNotAllowed {
  cursor: not-allowed;
}

.hexagon {
  height: 100%;
  width: 100%;
  position: absolute;
}


.hex1 {
  background: white;
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.hex1.selected {
  background: rgb(213, 236, 255);
}

.hex1.canBeAttacked {
  background: rgb(255, 213, 213);
}

.text-blue {
  color: rgb(46, 148, 231);
}

.text-red {
  color: rgb(231, 68, 46);
}

.bg-blue {
  background: rgb(46, 148, 231);
}

.bg-red {
  background: rgb(231, 68, 46);
}

.border-blue {
  border-color: rgb(46, 148, 231)!important;
}

.border-red {
  border-color: rgb(231, 68, 46)!important;
}

.moveHereIcon {
  color: rgb(46, 148, 231);
  border-radius: 50%;
  z-index: 5;
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
}

.moveHereIcon.right {
  top: 28%;
  left: 7.5%;
  transform: rotate(90deg);
}

.moveHereIcon.left {
  top: 28%;
  right: 7.5%;
  transform: rotate(-90deg);
}

.moveHereIcon.topRight {
  bottom: 7.5%;
  right: 25%;
  transform: rotate(-30deg);
}

.moveHereIcon.topLeft {
  bottom: 7.5%;
  left: 25%;
  transform: rotate(30deg);
}

.moveHereIcon.bottomRight {
  top: 7.5%;
  left: 25%;
  transform: rotate(145deg);
}

.moveHereIcon.bottomLeft {
  top: 7.5%;
  right: 25%;
  transform: rotate(215deg);
}

#multipFunctionalBar {
  top: 1%;
  background: rgb(66, 66, 66);
  z-index: 10;
  border-radius: 3px;
}

.border-curved {
  border-radius: 3px;
}

.border-pill {
  border-radius: 100px;
}




.slide-in-top {
	-webkit-animation: slide-in-top 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: slide-in-top 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-100px);transform:translateY(-100px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-100px);transform:translateY(-100px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.slide-out-top {
  -webkit-animation:slide-out-top .5s cubic-bezier(.6,-.28,.735,.045) both;
  animation:slide-out-top .5s cubic-bezier(.6,.2,.735,.045) both
}

@-webkit-keyframes slide-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}}@keyframes slide-out-top{0%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}100%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}}

